<html>
<head>
    <script src='//code.jquery.com/jquery-1.7.2.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect("http://{{ server }}");
        socket.on('evento', function (data) {
            $('#temperature').text(data.temp);
            $('#humidity').text(data.hum);
        });
    </script>
</head>
    <body>
        Temperatura attuale (C):<br/>
        <div id="temperature">
        </div>
        Umidità attuale (%):<br/>
        <div id="humidity">
        </div>
    </body>
</html>