<html>
<head>
    <script src='//code.jquery.com/jquery-1.7.2.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://192.168.1.5');
        socket.on('evento', function (data) {
            $('#messages').append("<li>test</li>");
        });
    </script>
</head>
    <body>
        {{ 'questo è twig!' }}
        <ul id="messages">
        </ul>
    </body>
</html>